<!-- footer -->
<footer id="footer">
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="footer-widget about-widget">
            <h3>About Booking Helpline</h3>
            <p>Book your cscs card, test and courses here.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="footer-widget link-widget">
            <h3>Useful Links</h3>
            <ul>
              <li><a href="/contact"> <i class="fa fa-angle-double-right"></i> Contact</a></li>
              <li><a href="/about"> <i class="fa fa-angle-double-right"></i> About us</a></li>
              <li><a href="/privacy"> <i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>
              <li><a href="/terms"> <i class="fa fa-angle-double-right"></i> Terms Of Service</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="footer-widget contact-widget">
            <h3>Contact Us</h3>
            <ul>
               <li><span><i class="fa fa-map-marker"></i> Address :</span> 123 Street, Your City, United Kingdom</li>
                   <li><span><i class="fa fa-phone"></i> Phone number :</span> (020) 8456-7890</li>
                   <li><span><i class="fa fa-envelope"></i> E-mail :</span> <a href="mailto:#">yourmail@example.com</a></li>
                   <li>
                    <ul class="list-inline social">
                  <li><a class="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter-square"></i></a></li>
                  <li><a class="google" href="#"><i class="fa fa-google-plus-square"></i></a></li>
                  <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
                   </li>
                </ul>
          </div>
        </div>
      </div>
    </div><!-- container -->
  </div><!-- footer-top -->


  <div class="footer-bottom clearfix">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>&copy; 2017 Booking Helpline.</p>
        </div>
        <div class="col-sm-6">
          <!-- <div class="payment-opt-icons">
            <span>Payments </span>
            <ul>
                            <li><img src="images/others/1.png" alt="" class="img-responsive"></li>
                            <li><img src="images/others/2.png" alt="" class="img-responsive"></li>
                            <li><img src="images/others/3.png" alt="" class="img-responsive"></li>
                            <li><img src="images/others/4.png" alt="" class="img-responsive"></li>
                            <li><img src="images/others/5.png" alt="" class="img-responsive"></li>
                        </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div><!-- footer-bottom -->
</footer><!-- footer -->
