<div head></div>
<div navi></div>

<div class="home-page">
  <div id="home-section" class="parallax-section carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active" style="background-image:url(assets/images/bg/slide1.jpg)">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="slider-content">
                <h1 data-animation="animated lightSpeedIn">Welcome</h1>
                <h2 data-animation="animated lightSpeedIn">To Booking Helpline</h2>
                <p data-animation="animated lightSpeedIn">Find your nearest course and book it with right away with our fast system.</p>
                <div class="ad-btn">
                  <a href="/construction" class="btn btn-primary" data-animation="animated lightSpeedIn">View Courses</a>
                </div>
              </div>
            </div>
          </div><!-- row -->
        </div><!-- contaioner -->
      </div><!-- item -->

      <!-- <div class="item" style="background-image:url(assets/images/bg/slide2.jpg)">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="slider-content">
                <h1 data-animation="animated lightSpeedIn">Say Hello</h1>
                <h2 data-animation="animated lightSpeedIn">To Advert Template</h2>
                <p data-animation="animated lightSpeedIn">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <div class="ad-btn">
                  <a href="#" class="btn btn-primary" data-animation="animated lightSpeedIn">View Ads</a>
                </div>
              </div>
            </div>
          </div><!-- row
        </div><!-- contaioner
      </div><!-- item -->
      <!-- <div class="item" style="background-image:url(assets/images/bg/slide3.jpg)">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="slider-content">
                <h1 data-animation="animated lightSpeedIn">Modern Design</h1>
                <h2 data-animation="animated lightSpeedIn">Maximum Posibilities</h2>
                <p data-animation="animated lightSpeedIn">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <div class="ad-btn" >
                  <a href="#" class="btn btn-primary" data-animation="animated lightSpeedIn">View Ads</a>
                </div>
              </div>
            </div>
          </div><!-- row
        </div><!-- contaioner
      </div><!-- item -->
    </div>
    <!--<a class="left carousel-control" href="#home-section" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
        <a class="right carousel-control" href="#home-section" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
  </div><!-- #home-section -->

  <div id="search-section">
    <div class="container">
      <form action="#">
        <div class="search-section">
          <ul>
            <li>
              <div class="dropdown category-dropdown">
                <a data-toggle="dropdown" href="#"><span class="change-text">All Categories</span> <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu category-change">
                  <li><a href="#">Construction</a></li>
                  <li><a href="#">Health & Safety</a></li>
                  <li><a href="#">Working at Height</a></li>
                  <li><a href="#">First Aid</a></li>
                  <li><a href="#">Real Estate</a></li>
                  <li><a href="#">Fire Safety</a></li>
                  <li><a href="#">Food Safety</a></li>
                </ul>
              </div><!-- category-change -->
            </li>
            <li>
              <div class="dropdown category-dropdown">
                <a data-toggle="dropdown" href="#"><span class="change-text">Course Title</span> <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu category-change">
                  <li><a href="#">First Aid at Work Course</a></li>
                </ul>
              </div><!-- category-change -->
            </li>
            <li>
              <input type="text" class="form-control" placeholder="Enter Postcode">
            </li>
            <li>
              <button type="submit" class="form-control btn btn-primary" value="Search">Search</button>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <!-- search-section -->


  <!-- avt-category -->
  <div id="avt-category" class="clearfix">
    <div class="container">
      <div class="section services">
        <div class="section-title">
          <div class="title-content">
            <h2>Browse Courses</h2>
            <p>Look through our selection of courses and find one that is right for you.</p>
          </div>
        </div>
        <div class="row">
          <div ng-repeat="cat in cats" class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="{{cat.url}}">
                  <!-- <img src="assets/images/icon/1.png" alt="assets/images" class="img-responsive"> -->
                  <i class="fa fa-{{cat.icon}} mb-10" aria-hidden="true"></i>
                </a>
              </div>
              <h5><a href="{{cat.url}}">{{cat.name}}</a> </h5>
              <ul>
                <li ng-repeat="course in courses" data-row="{{course.productcategory}}" title="{{course.productname}}" ng-if="course.productcategory == cat.name"><a href="/{{cat.url}}/{{course.productname | slugify}}">{{course.productname | limitTo: 25}}...</a></li>
              </ul>
            </div><!-- category-avt -->
          </div>
          <!-- <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#">
                  <img src="assets/images/icon/2.png" alt="assets/images" class="img-responsive">
                  <i class="fa fa-building-o mb-10" aria-hidden="true"></i>
                </a>
              </div>
              <h5><a href="#">Construction <span>(1317 courses)</span></a> </h5>
              <ul>
                <li><a href="#">SMSTS (5 Day)</a></li>
                <li><a href="#">SMSTS Refresher (2 Day)</a></li>
                <li><a href="#">SSSTS (2 Day)</a></li>
                <li><a href="#">SSSTS Refresher (1 Day)</a></li>
              </ul>
            </div><!-- category-avt
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#">
                  <!-- <img src="assets/images/icon/3.png" alt="assets/images" class="img-responsive">
                  <i class="fa fa-medkit mb-10" aria-hidden="true"></i>
                </a>
              </div>
              <h5><a href="#">First Aid <span>(1094 courses)</span></a> </h5>
              <ul>
                <li><a href="#">First Aid at Work Courses</a></li>
                <li><a href="#">Emergency First Aid at Work</a></li>
                <li><a href="#">First Aid at Work Refresher</a></li>
                <li><a href="#">Paediatric First Aid</a></li>
              </ul>
            </div><!-- category-avt
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#">
                  <!-- <img src="assets/images/icon/fire.png" alt="assets/images" class="img-responsive">
                  <i class="fa fa-fire mb-10" aria-hidden="true"></i>
                </a>
              </div>
              <h5><a href="#">Fire Safety <span>(794 courses)</span></a> </h5>
              <ul>
                <li><a href="#">Fire Marshal</a></li>
                <li><a href="#">NEBOSH Fire Certificate</a></li>
                <li><a href="#">NEBOSH Fire Conversion</a></li>
                <li><a href="#">Fire Extinguisher</a></li>
              </ul>
            </div><!-- category-avt
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#">
                  <!-- <img src="assets/images/icon/5.png" alt="assets/images" class="img-responsive">
                  <i class="fa fa-cutlery mb-10" aria-hidden="true"></i>
                </a>
              </div>
              <h5><a href="#">Food Safety <span>(1632 courses)</span></a> </h5>
              <ul>
                <li><a href="#">Level 2 Food Hygiene</a></li>
                <li><a href="#">Level 3 Food Hygiene</a></li>
                <li><a href="#">Level 4 Food Hygiene</a></li>
                <li><a href="#">Level 2 Award for Personal License Holders (APLH)</a></li>
              </ul>
            </div><!-- category-avt
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#">
                  <!-- <img src="assets/images/icon/5.png" alt="assets/images" class="img-responsive">
                  <i class="fa fa-home mb-10" aria-hidden="true"></i>
                </a>
              </div>
              <h5><a href="#">In-House Training <span>(632 courses)</span></a> </h5>
              <ul>
                <li><a href="#">HUGE Savings on Courses</a></li>
                <li><a href="#">Up to 20 Delegates</a></li>
                <li><a href="#">Flexible Training Dates</a></li>
                <li><a href="#">Training Venue</a></li>
              </ul>
            </div><!-- category-avt
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#">
                  <!-- <img src="assets/images/icon/5.png" alt="assets/images" class="img-responsive">
                  <i class="fa fa-signal mb-10" aria-hidden="true"></i>
                </a>
              </div>
              <h5><a href="#">Working at Height <span>(109 courses)</span></a> </h5>
              <ul>
                <li><a href="#">PASMA Courses</a></li>
                <li><a href="#">IPAF Courses</a></li>
                <li><a href="#">Scaffold Inspection</a></li>
                <li><a href="#">Safety Harness</a></li>
              </ul>
            </div><!-- category-avt
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="category-avt">
              <div class="category-icon">
                <a href="#">
                  <!-- <img src="assets/images/icon/5.png" alt="assets/images" class="img-responsive">
                  <i class="fa fa-university mb-10" aria-hidden="true"></i>
                </a>
              </div>
              <h5><a href="#">E-Learning <span>(109 courses)</span></a> </h5>
              <ul>
                <li><a href="#">Asbestos Awareness</a></li>
                <li><a href="#">Equality & Diversity</a></li>
                <li><a href="#">Disability Awareness</a></li>
                <li><a href="#">COSHH</a></li>
              </ul>
            </div><!-- category-avt
          </div> -->
        </div>
      </div><!-- services -->
    </div><!-- container -->
  </div><!-- category-avt -->

  <div id="call-to-act">
    <div class="container">
      <div class="call-to-act">
        <h1><span>Start Your Career </span> With Booking Helpline</h1>
        <p>Browse our courses and find the one right for your future.</p>
        <a href="/construction" class="btn btn-primary">Search Courses</a>
      </div>
    </div>
  </div><!-- #call-to-act -->

  <div id="featured-avts">
    <div class="section featureds">
      <div class="section-title container">
        <div class="title-content">
          <h2>Featured Courses</h2>
          <p>These are recommended courses we feature for their popularity and high pass rate.</p>
        </div>
      </div>
      <div id="top-featured">

        <div class="featured-item" ng-repeat="course in courses" ng-if="course.cf_823 == 1" >
          <div class="featured-title">
            <h3 title="{{course.productname}}"><a href="#">{{course.productname | limitTo:19}}...</a></h3>
            <h4><a href="/{{course.productcategory | slugify}}">{{course.productcategory}}</a></h4>
          </div>
          <div class="featured-image">
            <a href="/{{course.productcategory | slugify}}/{{course.productname | slugify}}"><img src="{{course.cf_825}}" alt="" class="img-responsive"></a>
          </div>

          <!-- ad-info -->
          <div class="product-meta">
            <div class="item-info">
              <p>{{course.description | limitTo:80}}</p>
            </div>
            <div class="item-price">
              <span>£{{course.unit_price | number:0}}</span>
            </div>
            <ul class="list-inline product-social">
              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
            </ul>
          </div><!-- ad-info -->
        </div><!-- featured -->

      </div>
    </div>
  </div><!-- #featured-ads -->


  <div class="section">
    <div class="container">
      <div class="section-title">
        <div class="title-content">
          <h2>Browse Courses</h2>
          <p>Look through our courses and find one suitable for you.</p>
        </div>
      </div>
      <div class="category-adds">
          <div id="category-tab">
            <div class="tab-view">
              <ul class="list-inline">
                <li class="grid-view-tab"><i class="fa fa-th-large" aria-hidden="true"></i></li>
                <li class="small-view-tab"><i class="fa fa-th" aria-hidden="true"></i></li>
                <li class="list-view-tab active"><i class="fa fa-th-list" aria-hidden="true"></i></li>
              </ul>
            </div>
            <div class="category-tab">
              <ul class="nav nav-tabs" role="tablist">
                 <li ng-repeat="cat in cats" ng-click="presentShow(cat.name)" data-presmenu="{{cat.name}}" role="presentation" class="pres-menu"><a class="present-nav" href="" aria-controls="recent" role="tab" data-toggle="tab">{{cat.name}}</a></li>
              </ul>
              <!-- Tab panes -->

                <div class="tab-content list-view-tab">
                  <div role="tabpanel" class="tab-pane active" id="recent">
                    <ul>

                      <li ng-repeat="course in courses" ng-if="course.productcategory == presentCat" class="item-wrap present-item" data-present="{{course.productcategory}}">
                        <div class="item">
                          <div class="item-image-carousel item-image carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                              <div class="item active">
                                <a href="/{{course.productcategory | slugify}}/{{course.productname | slugify}}"><img src="{{course.cf_825}}" alt="" class="img-responsive"></a>
                              </div>
                            </div>
                          <div class="item-price">
                            <span>£{{course.unit_price | limitTo: 5}}</span>
                          </div>
                        </div>
                        <div class="item-description">
                          <div class="item-meta">
                            <div class="item-post-date">
                              <span>{{course.start_date | date:'mediumDate'}}</span>
                            </div>
                            <ul class="list-inline product-social">
                              <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                          <div class="item-title">
                            <h3><a href="/{{course.productcategory | slugify}}/{{course.productname | slugify}}">{{course.productname | limitTo:19}}...</a></h3>
                          </div>
                          <div class="item-info">
                            <p>{{course.description | limitTo:70}}...</p>
                          </div>
                        </div><!-- item-description -->
                        </div><!-- item -->
                      </li><!-- item-wrap -->

                    </ul>
                  </div><!-- tab-pane-->
                </div>
            </div>
          </div><!-- category-tab-->
        </div>
      <!--<div class="view-all-ads text-center">
        <a href="#" class="btn btn-primary">View All Ads</a>
      </div> -->
    </div>
  </div><!-- category-tab-->





  <!-- newsletter -->
  <div id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="newsletter">
            <p>Sign up with your email to get latest updates and offers</p>
            <div class="input-email">
                      <input type="email" placeholder="Enter your email address" name="email" id="email">
                      <input type="submit" class="btn btn-primary" value="Subscribe Now">
                  </div>
          </div>
        </div>
      </div>
    </div><!-- contaioner -->
  </div><!-- #newsletter -->

</div><!-- .home-page -->


<div foot></div>
