<div head></div>
<div navi></div>


<div class="page">
	<div id="breadcrumb-section" class="section">
		<div class="container">
			<div class="page-title text-center">
				<h1>Cart</h1>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Cart</li>
				</ol>
			</div>
		</div>
	</div><!-- breadcrumb-section -->

	<div class="ad-post-wrapper section">



		<div ng-if="cart" class="container">
			<div class="row">
				<br>
				<div class="col-md-12">
					<div class="col-md-4 col-sm-6 col-xs-12 ">
						<!--REVIEW ORDER-->
						<div class="panel panel-default">
							<div class="panel-heading text-center">
								<h4>Review Order</h4>
							</div>
							<div class="panel-body">
								<div class="col-md-12">
									<strong>Subtotal (# item)</strong>
									<div class="pull-right"><span>£</span><span>{{ cartTotal() }}</span></div>
								</div>
								<div class="col-md-12">
									<strong>Tax</strong>
									<div class="pull-right"><span>£</span><span>0</span></div>
								</div>
								<div class="col-md-12">
									<small>Shipping</small>
									<div class="pull-right"><span>-</span></div>
									<hr>
								</div>
								<div class="col-md-12">
									<strong>Order Total</strong>
									<div class="pull-right"><span>£</span><span>{{ cartTotal() }}</span></div>
									<hr>
								</div>

								<button ng-click="checkout()" type="button" class="btn btn-primary btn-block cart-btn">Checkout</button>

							</div>

						</div>
						<!--REVIEW ORDER END-->
					</div>
					<div class="col-md-8 col-sm-6 col-xs-12 ">
						<!--SHIPPING METHOD-->
						<div class="panel panel-default">
							<div class="panel-heading text-center"><h4>Current Cart</h4></div>
							<div class="panel-body">
								<table class="table borderless cart-table">
									<thead>
										<tr class="tc">
											<td><strong>Course Name</strong></td>
											<td>Unit Cost</td>
											<td>Qty</td>
											<td>Total</td>
											<td></td>
										</tr>
									</thead>
									<tbody>
										<!-- foreach ($order->lineItems as $line) or some such thing here -->
										<tr ng-repeat="item in cart track by $index">
											<td class="col-md-5 item-marg">
												<div class="media">
													<a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{item.cf_825}}" style="width: 72px; height: 72px;"> </a>
													<div class="media-body">
														<h5 class="media-heading cart-course-name">{{item.productname}}</h5>
														<p class="test-cart-info" ng-if="testDetails && item.product_no == 'PRO32' ">
															<strong>Test Type:</strong> {{localStorage.bh.testDetails.type.name}}<br>
															<strong>Preferred Date:</strong> <span ng-bind="localStorage.bh.td"></span><br>
															<strong>Preferred Time:</strong> <span ng-bind="localStorage.bh.tt"></span> <br>
															<strong>Language:</strong> {{localStorage.bh.testDetails.voiceover.name}}
														</p>
														<p class="test-cart-info" ng-if="localStorage.bh.cardDetails.industry.name && item.product_no == 'PRO31' ">
															<strong>Industry:</strong> {{localStorage.bh.cardDetails.industry.name}}<br>
															<strong>Application Type:</strong> {{localStorage.bh.cardDetails.appType.name}}
														</p>
														<div ng-if="item.product_no == 'PRO31' " data-remodal-target="card-cart-modal" class="item-price course-price pointer card-update-btn">
															<span>Update CSCS Card Info</span>
														</div>
														<!-- <h5 class="media-heading">{{item.product_no}}</h5> -->
													</div>
												</div>
											</td>
											<td class="text-center item-marg">£{{item.unit_price | limitTo:5}}</td>
											<td class="text-center item-marg"><input ng-change="changeQty($index)" ng-disabled="item.product_no == 'PRO31' || item.product_no == 'PRO32'" class="form-control input-sm col-md-1 qty-input" type="text"  placeholder="Qty" ng-model="cart[$index].qty" value="1"></td>
											<td class="text-center item-marg">£{{item.unit_price * item.qty | limitTo:5}}</td>
											<td class="text-right item-marg"><button ng-click="removeItem($index)" type="button" class="btn btn-danger">Remove</button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!--SHIPPING METHOD END-->
					</div>
				</div>
			</div>
		</div>

		<div ng-if="!cart" class="container">

			<div class="ad-post-wrapper section">
				<div class="container">
					<div class="blank-page">
						<div class="row">
							<div class="col-xs-12">
								<div class="tl test-column">
									<h3>Empty Cart</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- ad-post -->

		</div>



	</div> <!-- ad-post -->
</div>	<!-- page -->




<div class="remodal" data-remodal-id="card-cart-modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>Update CSCS Card Details</h1>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
          <select ng-model="cardDetails.industry" ng-options="c.name for c in industryList" class="form-control">
          </select>
          <span class="select-arrow">▼</span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
        <select ng-model="cardDetails.appType" ng-options="c.name for c in appTypeList" class="form-control">
        </select>
        <span class="select-arrow">▼</span>
      </div>
    </div>
  </div>
  <br>
  <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
  <button data-remodal-action="confirm" ng-click="addCardDetails()" class="remodal-confirm">OK</button>
</div>
