<div head></div>
<div navi></div>


	<div class="page">
		<div id="breadcrumb-section" class="section">
			<div class="container">
				<div class="page-title text-center">
					<h1 ng-click="getPaypalToken">Payment</h1>
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Payment</li>
					</ol>
				</div>
			</div>
		</div><!-- breadcrumb-section -->

		<div class="ad-post-wrapper section">



      <div class="container">
      <div class="row">
      	 <br>
                  <div class="col-md-12">
                      <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4">
                          <!--SHIPPING METHOD-->
                          <div class="panel panel-default">
                              <div class="panel-heading text-center"><h4>Payment</h4></div>
                              <div class="panel-body">
                                <form role="form">

                                 <div class="row">
                                   <div class="col-xs-12 col-sm-12 col-md-12">
                                     <div class="form-group">
																				 <select ng-model="cardDetails.type" ng-options="c.name for c in cardTypesList" class="form-control">
															           <option value="">Choose a card type</option>
																			 </select>
																				 <span class="select-arrow">▼</span>
                                     </div>
                                   </div>
																	</div>
																	<div class="row">
                                   <div class="col-xs-12 col-sm-12 col-md-12">
                                     <div class="form-group">
                                       <input ng-model="cardDetails.number" type="text" name="last_name" id="last_name" class="form-control" placeholder="Card Number" tabindex="2">
                                     </div>
                                   </div>
                                 </div>

                                 <div class="row">
                                   <div class="col-xs-12 col-sm-6 col-md-6">
                                     <div class="form-group">
                                         <input ng-model="cardDetails.expire_month" type="text" name="first_name" id="first_name" class="form-control" placeholder="Expiry (MM)">
                                     </div>
                                   </div>
                                   <div class="col-xs-12 col-sm-6 col-md-6">
                                     <div class="form-group">
                                       <input ng-model="cardDetails.expire_year" type="text" name="last_name" id="last_name" class="form-control" placeholder="Expiry (YYYY)">
                                     </div>
                                   </div>
																 </div>
																 <div class="row">
                                   <div class="col-xs-12 col-sm-6 col-md-6">
                                     <div class="form-group">
                                       <input ng-model="customerData.cvv2" type="text" name="last_name" id="last_name" class="form-control" placeholder="CVV Number">
                                     </div>
                                   </div>
                                 </div>

                                 <hr>

                                 <div class="row tc">
                                   <div class="col-xs-12 col-sm-12 col-md-12">
                                         <button ng-click="pay()" type="button" class="btn btn-primary btn-block cart-btn">Pay Now</button>
																				 <img id="spinner" src="/assets/images/3.gif" class="hide" style="margin-top: 10px;">
                                   </div>
                                 </div>

																 <hr>

                                 <div class="row tr">
                                   <div class="col-xs-12 col-sm-12 col-md-12">
                                         <img src="/assets/images/others/paypalpro.png">
                                         <img src="/assets/images/others/01.png">
                                   </div>
                                 </div>


                               </form>
                              </div>
                          </div>
                          <!--SHIPPING METHOD END-->
                      </div>
                      </div>
                      </div>
      </div>



		</div> <!-- ad-post -->
	</div>	<!-- page -->


	<div foot></fiv>
