<div head></div>
<div navi></div>


	<div class="page">
		<div id="breadcrumb-section" class="section">
			<div class="container">
				<div class="page-title text-center">
					<h1 ng-click="getPaypalToken">Checkout Success</h1>
				</div>
			</div>
		</div><!-- breadcrumb-section -->

		<div class="ad-post-wrapper section">



      <div class="container">
      <div class="row">
      	 <br>
                  <div class="col-md-12">
                      <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4">
                          <!--SHIPPING METHOD-->
                          <div class="panel panel-default">
                              <div class="panel-heading text-center"><h4>Checkout Success</h4></div>
                              <div class="panel-body">
                                 <div class="row">
                                   <div class="col-xs-12 col-sm-12 col-md-12">
                                     <p>Your checkout was successful.</p>
																		 <p>Your payment id is {{customerData.payID}}</p>
																		 <p>You will recieve an email confirmation shortly.</p>
                                   </div>
																	</div>

                              </div>
                          </div>
                          <!--SHIPPING METHOD END-->
                      </div>
                      </div>
                      </div>
      </div>



		</div> <!-- ad-post -->
	</div>	<!-- page -->
